.fal_world_map {
  width: 100%!important;
  height: 679px;
  margin-left: auto;
  margin-right: auto;
}
.fal_world_map > div {
  position: relative;
  display: table;
  width: 100%;
  min-height: 680px;
}
.fal_world_map > div > div {
  display: table-cell;
  vertical-align: middle;
  padding: 32px 0;
}

.fal_mark_dealers {
  background-image: url('../img/snippet/dealers.png');
  position: absolute;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.fal_mark_subsidiary {
  background-image: url('../img/snippet/subsidiary.png');
  position: absolute;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.fal_mark_manufacture {
  background-image: url('../img/snippet/manufacture.png');
  position: absolute;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.india1 {
  top: 350px;
  left: 834px;
}

.india2 {
  top: 290px;
  left: 841px;
}

.iran {
  top: 285px;
  left: 785px;
}

.israel {
  top: 280px;
  left: 715px;
}

.turquie {
  top: 250px;
  left: 689px;
}

.south_africa {
  top: 525px;
  left: 675px;
}

.maroc {
  top: 285px;
  left: 578px;
}

.swiss {
  top: 210px;
  left: 626px;
}

.benelux {
  top: 194px;
  left: 607px;
}

.royaume {
  top: 193px;
  left: 593px;
}

.swedia {
  top: 160px;
  left: 641px;
}

.finland {
  top: 137px;
  left: 670px;
}

.rusia {
  top: 153px;
  left: 703px;
}

.mexico {
  top: 325px;
  left: 266px;
}

.usa {
  top: 240px;
  left: 340px;
}

.canada {
  top: 210px;
  left: 346px;
}

.hongkong {
  top: 320px;
  left: 970px;
}

.portugal {
  top: 250px;
  left: 570px;
}

.espagne {
  top: 250px;
  left: 590px;
}

.italie {
  top: 225px;
  left: 630px;
}

.roumanie {
  top: 214px;
  left: 650px;
}

.slovaquie {
  top: 200px;
  left: 660px;
}

.pologne {
  top: 179px;
  left: 666px;
}

.allemagne {
  top: 199px;
  left: 620px;
}

.chine {
  top: 300px;
  left: 970px;
}

.france {
  top: 216px;
  left: 606px;
}

.bresil {
  top: 506px;
  left: 446px;
}

.korea {
  top: 265px;
  left: 1010px;
}

.japan {
  top: 270px;
  left: 1040px;
}

.fal_map_description {
  height: 80px;
  width: 190px;
  background-color: #DAD4D4;
  margin-left: 15px;
  margin-top: 220px;
  font-weight: bold;
  padding: 0;
}

.fal_mark_description {
  width: 470px;
  height: 155px;
  position: absolute;
  background-image: url('../img/snippet/mark_description_bg.png');
  cursor: pointer;
}

.fal_name {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  margin: 0;
  padding-left: 13px;
  padding-top: 9px;
  padding-bottom: 2px;
}

.fal_name2 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding-left: 13px;
}

.fal_address {
  font-size: 13px;
  margin: 0;
  padding-left: 13px;
}

.fal_address2 {
  font-size: 13px;
  margin: 0;
  padding-left: 13px;
}

.fal_address3 {
  font-size: 13px;
  margin: 0;
  padding-left: 13px;
}

.fal_site {
  font-size: 13px;
  margin: 0;
  padding-left: 13px;
}

.fal_tel {
  font-size: 13px;
  margin: 0;
  margin-left: 13px;
}

.fal_fax {
  font-size: 13px;
  margin: 0;
  margin-left: 13px;
}

.fal_mail {
  font-size: 13px;
  margin: 0;
  margin-left: 13px;
}

.fal_info1 {
  width: 270px;
  float: left;
}

.fal_info2 {
  width: 162px;
  float: left;
  margin-left: 12px;
}
